body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  #root {
    background: #333333;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
  }
}

* {
  box-sizing: border-box;
}

// variables

:root {
  // ediot
  --editor-backgroud-color: #222222;

  // panel
  --panel-head-height: 24px;
  --panel-background-color: #333333;
  --panel-head-background-color: #444444;
  --panel-border-width: 1px;
  --panel-border-color: grey;

  //dock
}
