body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--backgroud-color);
}

* {
  box-sizing: border-box;
}

// variables

:root {
  --backgroud-color: #222222;
}
