body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--editor-backgroud-color);
}

* {
  box-sizing: border-box;
}

// variables

:root {
  // ediot
  --editor-backgroud-color: #222222;

  // panel
  --panel-background-color: #333333;
  --panel-head-background-color: #444444;
}
