@import '@doc/styles/variables';

:host {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;

  --header-height: 3.6rem;
}

nav {
  height: var(--header-height);
  font-size: 1.1rem;
  background: white;
  box-shadow: 0 2px 2px -2px gray;
  display: grid;
  width: 100%;
  place-items: center;
  justify-content: end;
  grid-template-columns: auto 1fr repeat(3, auto);
  padding: 0 4rem 0 6rem;
  column-gap: 0.55rem;
  box-sizing: border-box;
  z-index: 10;
  user-select: none;
  white-space: nowrap;

  & > svg {
    justify-self: start;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    height: 1.5rem;
    width: 1.5rem;

    &:hover,
    &.active {
      fill: var(--active-color);
    }

    &.active {
      transform: rotate(180deg) scale(1.5);
    }
  }

  a {
    text-decoration: none;
    color: grey;
    cursor: pointer;
  }
}

.app-main-wrapper {
  background: white;
  overflow: hidden;
  z-index: 4;
  display: grid;
  grid-template-columns: repeat(2, 100%);
  box-sizing: border-box;

  & > * {
    height: calc(100vh - var(--header-height));
    z-index: 15;
    overflow-y: scroll;
  }
}

play-ground {
  position: absolute;
  width: 100%;
  top: var(--header-height);
  z-index: 5;
  background: rgba(100, 100, 100, 0.6);
  transform: translateY(-100%);
  transition: transform 0.2s ease-in-out;
  box-sizing: border-box;

  &.visible {
    transform: unset;
  }
}

language-selector {
  position: absolute;
  top: var(--header-height);
}

@media screen and (max-width: $mobileWidth) {
  .playground-icon {
    visibility: hidden;
    pointer-events: none;
  }
}
