@import './variables.scss';
@import './font.scss';

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Noto Sans SC', sans-serif;
}

* {
  box-sizing: border-box;
}

app-root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 180px 1fr;
}
