@import './variables.scss';
@import './font.scss';
:root {
  scroll-behavior: smooth;
  overflow: hidden;
  position: fixed;
}

body {
  position: fixed;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB',
    'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
}
