@import '@doc/styles/variables';

:host {
  z-index: 20;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0 0 3px 1px gray;
}

@media screen and (max-width: $mobileWidth) {
  :host {
    box-shadow: unset;
    filter: drop-shadow(1px 0px 1px rgb(88, 88, 88));
  }
}

.side-menu-wrapper {
  background: rgb(181, 181, 181);
  display: grid;
  grid-auto-rows: min-content 1fr;
  height: 100%;
  transition: all 0.3s;

  @media screen and (max-width: $mobileWidth) {
    padding-right: 10%;
  }
}

@media screen and (max-width: $mobileWidth) {
  :host(.shaped) {
    .side-menu-wrapper {
      clip-path: polygon(0 0, 30% 0, 100% 50%, 30% 100%, 0 100%);
    }
  }

  :host(:not(.shaped)) {
    .side-menu-wrapper {
      clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  line-height: 3rem;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  user-select: none;
}

.menu-list-container {
  padding: 0.5rem 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-list-container ul {
  padding-left: 1rem;
  list-style-type: none;
  margin: 0;
}

li {
  margin: 0.4rem 0;
}

li.primary-menu::before {
  content: '»';
  position: absolute;
  left: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

li.primary-menu > a {
  color: #333;
  font-weight: bolder;
}

li.child-menu > a {
  color: #666;
}

.menu-list-container a:hover::before {
  content: '';
  display: inline-block;
  height: 1.5rem;
  width: 2px;
  vertical-align: middle;
  position: absolute;
  line-height: normal;
  left: 0;
}

.menu-list-container a:hover::before {
  background: var(--active-color);
  opacity: 0.4;
}

header span {
  cursor: pointer;
}
