:host {
  display: block;
  position: relative;
  background: var(--area-background-color);
  box-sizing: border-box;
  user-select: none;
  height: 100%;
  width: 100%;

  // resize: both;

  // border: var(--area-border-width) var(--area-border-color) solid;

  border-radius: var(--area-border-radius);
  overflow: hidden;

  min-width: var(--area-min-width);
  min-height: var(--area-min-heigth);

  .area-root {
    height: 100%;
    width: 100%;
    overflow: inherit;
    display: grid;
    grid-template-rows: auto 1fr;

    .area-head {
      user-select: none;
      height: var(--area-head-height);
      background: var(--area-head-background-color);
      display: grid;
      align-items: center;
      padding: var(--area-head-padding);
      grid-template-columns: auto 1fr;
      column-gap: 10px;

      .area-switcher {
        height: var(--area-switcher-height);
        width: var(--area-switcher-width);
        background: var(--area-switcher-background);
        border-radius: var(--area-switcher-border-radius);
      }

      .area-content {
        height: 100%;
      }
    }
  }
}

::slotted(*:nth-child(1)) {
  height: 100%;
  width: 100%;
  line-height: var(--area-head-height);
}
