@import '@doc/styles/variables';

:host {
  display: block;
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.doc-guide-main {
  padding: 0 1rem 1rem 1.5rem;
}

.markdown-wrapper {
  padding-left: 1rem;
}

hr {
  border: 1px solid var(--active-color);
}

.doc-guide-main {
  max-width: 900px;
  margin: 0 auto;
}

h2.primary-title,
h3.sub-title {
  position: relative;
  cursor: pointer;

  &::before {
    content: url(https://rollupjs.org/images/anchor.svg);
    display: block;
    position: absolute;
    left: -20px;
    visibility: hidden;
  }

  &:hover::before {
    visibility: unset;
  }
}

h3.sub-title {
  transform: translateX(-1rem);
}

@media screen and (max-width: $mobileWidth) {
  .markdown-wrapper {
    padding-left: unset;
  }

  h3.sub-title {
    transform: unset;
  }
}
