@import '../../../styles/variables';

:host {
  display: block;
  box-sizing: border-box;
}

.doc-guide-main {
  padding: 0 1rem 1rem 1.5rem;
  box-sizing: border-box;
}

.markdown-wrapper {
  padding-left: 1rem;
}

hr {
  border: 1px solid var(--active-color);
}

.doc-guide-main {
  max-width: 1000px;
  margin: 0 auto;
}

h2.primary-title,
h3.sub-title {
  position: relative;
  cursor: pointer;
  transform: translateX(-1rem);

  &::before {
    content: '';
    background-image: url(https://rollupjs.org/images/anchor.svg);
    display: inline-block;
    background-size: 1rem 1rem;
    width: 1rem;
    height: 1rem;
    visibility: hidden;
  }

  &:hover::before {
    visibility: unset;
  }
}

h2.primary-title {
  &::before {
    transform: translateX(-0.2rem) translateY(-1px);
  }
}

h3.sub-title {
  transform: translateX(-2rem);
  &::before {
    transform: translateX(-0.2rem) translateY(1px);
  }
}

@media screen and (max-width: 650px) {
  .markdown-wrapper {
    padding-left: unset;
  }
  h2.primary-title,
  h3.sub-title {
    transform: unset;
    &::before {
      all: unset;
    }
  }
}
