:host {
  display: block;
  position: relative;
  background: var(--panel-background-color, #333333);
  box-sizing: border-box;
  user-select: none;
  height: 100%;
  width: 100%;

  // resize: both;

  border: var(--panel-border-width, 1px) var(--panel-border-color, grey) solid;

  border-radius: var(--panel-border-radius, 5px);
  overflow: hidden;

  .panel {
    height: 100%;
    width: 100%;
    overflow: inherit;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .panel-head {
    user-select: none;
    height: var(--panel-head-height, 20px);
    background: var(--panel-head-background-color, #444444);
  }
}

::slotted(*:nth-child(1)) {
  height: 100%;
  width: 100%;
}
