:host {
  width: 100%;
  height: 100%;
  background-color: var(--editor-backgroud-color, #222222);
  display: grid;

  overflow: hidden;
  box-sizing: border-box;

  grid-template-rows: auto 1fr auto;

  * {
    box-sizing: border-box;
  }

  & > .panel-pool {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    column-gap: var(--area-gap);
    row-gap: var(--area-gap);
    padding: 2px;
  }

  .monitor {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background: white;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    display: grid;
    place-items: center;
  }

  .mouse-track {
    position: fixed;
    right: 0;
    background: white;
  }
}
